{
    "bold":"testcase/bold.nii.gz",
    "events":"testcase/events.tsv",
    "noise_model":"ar1",
    "standardize": false,
    "hrf_model":"spm",
    "drift_model":"cosine",
    "high_pass":0.01,
    
    "slice_time_ref":0.0,
    "drift_order": 1,
    "fir_delays": [0],
    "min_onset": -24,
    "mask_img": "",
    "smoothing_fwhm": 0.0,
    "verbose": 0,
    "subject_label":""
}