{
    "bold":"testcase/bold.nii.gz",
    "events":"testcase/events.tsv",
    "glm_parameters":{
        "noise_model":"ar1",
        "standardize": false,
        "hrf_model":"spm",
        "drift_model":"cosine",
        "high_pass":0.01
    }
}